
html, body {
  margin: 0;
  padding: 0;
}

#content {
  background-color: #6eacc1;
}

#back-img {
  top: 0;
  left: 0;
  width: 100vw;
}

.text {
  display: flex;
  font-family: 'Slabo 27px', serif;
  font-size: 2vw;
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 5%;
}

#external-logos {
  width: 85vw;
  height: 15vw;
  margin: 0 0 0 7%;
  background-color: #212127;
  border-radius: 4px;
  padding-bottom: 2%
}

#external-logos > a {
  float: left;
  width: 23%;
  margin-bottom: 10%;
}

.logo {
  margin: 0 auto;
  padding: 15%;
}
