
html, body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: rgba(55, 63, 72, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(55, 63, 72, 0.99);
  text-decoration: none;
}

#content {
  background-color: #6eacc1;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 100px;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}

.header {
  top: 0;
  left: 0;
  width: 68%;
  margin: 30px auto;
}

.headimg {
  width: 100%;
}

.text-a h1, .text-b h1 {
  margin: 0;
}

.first-text {
  margin-top:
}

.text-a {
  background-color: rgba(178 ,180, 184, 0.5);
  border: 2px solid #212127;
  border-radius: 4px;
  font-size: 1.8em;
  width: 68%;
  margin: 0 auto;
  padding: 40px;
  margin-bottom: 40px;
}

.text-b {
  font-size: 1.8em;
  color: rgb(178 ,180, 184);
  width: 68%;
  margin: 0 auto;
  background-color: #212127;
  border-radius: 4px;
  padding: 40px;
  margin-bottom: 40px;
}

.text-b > a {
  width: 23%;
  display: inline-block;
}

.logo {
  margin: 0 auto;
  padding: 15%;
  width: 75%;
  max-width: 100%;
}
