html, body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: rgba(55, 63, 72, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(55, 63, 72, 0.99);
  text-decoration: none;
}

.view {
  height: 100vh;
}

#content {
  background-color: #6eacc1;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 100px;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}

.header {
  top: 0;
  left: 0;
  width: 68%;
  margin: 30px auto;
  margin-bottom: 50px;
}

.headimg {
  width: 100%;
}

.text-a h1, .text-b h1 {
  margin: 0;
}

.first-text {
  margin-top:
}

.text-a {
  background-color: rgba(178 ,180, 184, 0.5);
  border: 2px solid #212127;
  border-radius: 4px;
  font-size: 1.8em;
  width: 68%;
  margin: 0 auto;
  padding: 40px;
  margin-bottom: 40px;
}

.text-b {
  font-size: 1.8em;
  color: rgb(178 ,180, 184);
  width: 68%;
  margin: 0 auto;
  background-color: #212127;
  border-radius: 4px;
  padding: 40px;
  margin-bottom: 40px;
}

.text-b > a {
  width: 23%;
  display: inline-block;
}

.logo {
  margin: 0 auto;
  padding: 15%;
  width: 75%;
  max-width: 100%;
}

#cta-download {
  width: 120px;
  background-color: #CAAD4D;
  color: #212127;
  border-radius: 4px;
  margin: 0 auto;
  padding: 15px;
  padding-right: 220px;
  font-family: "Open Sans";
  white-space: nowrap;
  font-size: 1.5em;
  vertical-align: middle;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#cta-download > a > img {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}

.dlbtn {
  opacity: 0.5;
}

#cta-download:active {
  box-shadow: 0 20px 40px rgba(0,0,0,0.19), 0 12px 12px rgba(0,0,0,0.23);
}

#download {
  position: relative;
  height: 60px;
  top: -100px;
}

.download-for {
  cursor: pointer;
  font-size: 25px;
  color: #212127;
  float: left;
  position: relative;
  background-color: #CAAD4D;
  width: 200px;
  height: 60px;
  margin: 40px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}

.download-for > img {
  float: left;
}

.download-for > p {
  margin-top: 10px;
  margin-left: 65px;
}

.dl-icon {
  height: 80%;
  padding: 2.5%;
  padding-left: 6%
}

#github-msg {
  margin-left: 140px;
}
