@font-face {
  font-family: "Aleo-Light";
  src: url("./fonts/Aleo/Light/aleo-light-webfont.woff") format("woff"), url("./fonts/Aleo/Light/aleo-light-webfont.eot") format("eot"); }

@font-face {
  font-family: "Aleo-Regular";
  src: url("./fonts/Aleo/Regular/aleo-regular-webfont.woff") format("woff"), url("./fonts/Aleo/Regular/aleo-regular-webfont.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-Bold";
  src: url("./fonts/CooperHewitt/CooperHewitt-Bold.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-Bold.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-BoldItalic";
  src: url("./fonts/CooperHewitt/CooperHewitt-BoldItalic.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-BoldItalic.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-Medium";
  src: url("./fonts/CooperHewitt/CooperHewitt-Medium.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-Medium.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-MediumItalic";
  src: url("./fonts/CooperHewitt/CooperHewitt-MediumItalic.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-MediumItalic.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-Light";
  src: url("./fonts/CooperHewitt/CooperHewitt-Light.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-Light.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-LightItalic";
  src: url("./fonts/CooperHewitt/CooperHewitt-LightItalic.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-LightItalic.eot") format("eot"); }

@font-face {
  font-family: "CooperHewitt-Book";
  src: url("./fonts/CooperHewitt/CooperHewitt-Book.woff") format("woff"), url("./fonts/CooperHewitt/CooperHewitt-Book.eot") format("eot"); }

html {
 	height: 100%;
 	width: 100%;
 	overflow: hidden;
 	-webkit-user-select: none;
}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-family: 'Aleo';
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: rgb(43,43,51);
	cursor: default;
}

#main {
	position: absolute;
	top: 30px;
	width: 100%;
	bottom: 50px;
	background-color: rgb(111,174,193);
}

#footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
  display: flex;
}

.clickable {
  opacity: 0.8;
}

.clickable:hover {
  opacity: 1.0;
}

.paper {
	-webkit-box-sizing: border-box;
}


::-webkit-input-placeholder {
	color: rgb(43,43,51);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(53,63,73);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(43,43,51);
}

::selection {
	background: white;
}

/* fix for atom webview automatic sizing bug */
#browser-plugin-1 {
  width: 100% !important;
  height: 100% !important;
}

/* table view */
.results-table {
  table-layout: auto;
  font-family: 'CooperHewitt-Light';
  color: rgb(178, 180, 184);
  position: absolute;
  top: calc(4% + 100px);
  left: 5%;
  width: 90%;
  height: calc(96% - 170px);
}
.tbody {
  height: 100%;
  overflow: auto;
}
.row {
  background-color: rgb(43, 43, 51);
  display: flex;
  flex-wrap: nowrap;
  /*cursor: pointer;*/
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.td {
  display: flex;
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.col-type, .col-title, .col-author, .col-year {
  margin: 5px;
}
.col-type {
  width: 48px;
  max-width: 48px;
}
.col-title {
  width: 30%;
  max-width: 30%;
  font-family: 'CooperHewitt-Book';
}
.col-author {
  width: 100px;
  max-width: 100px;
  font-family: 'CooperHewitt-LightItalic';
}
.col-year {
  width: 50px;
  max-width: 50px;
}
.col-ids {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  max-width: 30%;
}
.col-terms {
  max-width: 250px;
}
.col-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 200px;
}
.paper-table-row-id {
  display: flex;
  margin: 5px;
}

.paper-id-type {
  font-family: 'CooperHewitt-Book';
  background-color: rgb(178, 180, 184);
  color: rgba(43, 43, 51, 1);
  padding: 2px;
  border-radius: 2px;
  display: flex;
  margin-right: 5px;
  height: 22px;
}

.button-wrapper {
  border-right: dotted rgb(51,51,42) 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
 * loading lines modified from  https://github.com/ConnorAtherton/loaders.css/blob/master/loaders.css
 */
@keyframes line-scale {
  0% { transform: scaley(1); }
  50% { transform: scaley(0); }
  100% { transform: scaley(1); }
}

.line-scale > div {
  /*transition: display 0.5s;*/
  transition: all 1.5s;
  width: 4px;
  height: 15;
  margin-right: 4px;
  animation-fill-mode: both;
  display: inline-block;
  transform-origin: center bottom;
}

@keyframes icon-drop {
  0% { transform: translate(0, -20px); }
  100% { transform: translate(0, 0); }
}
